.board {
	display: none;
	margin-bottom: 40px;
	background: rgba(119,178,255,0.05);
	@include box-shadow(0px 2px 5px 0px rgba(0, 0, 0, 0.05));
	@include border-radius(4px);

	&__block {
		height: 140px;
		padding: 15px 20px;
		position: relative;

		&:before {
			right: 0;
			top: 25px;
			bottom: 25px;
			content: '';
			width: 1px;
			display: block;
			position: absolute;
			background: #2f3a4a;
		}

		&_two {

			&:before {
				display: none;
			}
		}

		&_four {

			&:before {
				display: none;
			}
		}
	}

	&__level {
		@include flexbox();
		@include align-items(center);

		&_value {
			width: 105px;
			height: 107px;
			color: #1765d0;
			text-align: center;
			padding-top: 25px;
			background: url("../img/board__level.png") 50% 50% no-repeat;
			background-size: cover;
			@include flex-shrink(0);

			strong {
				display: block;
				font-size: 4rem;
				font-weight: 600;
				line-height: 4rem;
			}

			span {
				display: block;
				font-size: 1rem;
				font-weight: 600;
				line-height: 1rem;
				text-transform: uppercase;
			}
		}

		&_data {
			padding-left: 20px;
			@include flex-grow(1);
		}

		&_table {
		//	width: 100%;
			border: none;
			border-collapse: collapse;

			td {
				border: none;
				font-size: 1.1rem;
				line-height: 2rem;
				white-space: nowrap;

				&:first-child {
					color: #637b9b;
					padding-right: 10px;
					text-transform: uppercase;
				}

				&:last-child {
					color: #fff;
					font-weight: 300;
					font-size: 1.4rem;
				}
			}

			tr {

				&:nth-child(2) {

					td {
						padding-top: 15px;
						padding-bottom: 15px;
					}
				}
			}
		}
	}

	&__status {
		padding: 15px 0 0 0;
		list-style: none;
		margin: 0 auto;
		@include flexbox();
		@include justify-content(space-evenly);

		> li {
			width: 90px;
			text-align: center;
		}

		&_icon {
			width: 45px;
			height: 37px;
			display: block;
			margin: 0 auto 15px auto;
			background: url("../img/board__bg.png") 50% 50% no-repeat;
		}

		&_legend {

			span {
				display: block;
				color: #637b9b;
				font-size: 1rem;
				font-weight: 700;
				line-height: 1.4rem;
				text-transform: uppercase;
			}

			strong {
				color: #fff;
				display: block;
				font-weight: 300;
				font-size: 1.4rem;
				line-height: 1.8rem;
			}
		}
	}

	&__summary {
		padding-left: 20px;

		&_table {
			border: none;
			border-collapse: collapse;

			td {
				border: none;
				font-size: 1rem;
				line-height: 2rem;
				white-space: nowrap;
				padding: 5px 5px 5px 0;
				vertical-align: middle;


				span {
					color: #637b9b;
					font-weight: 600;
					display: inline-block;
					text-transform: uppercase;
				}

				strong {
					color: #fff;
					font-weight: 300;
					font-size: 1.4rem;
					display: inline-block;
				}

				i {
					width: 33px;
					display: block;
					margin-right: 5px;
				}
			}
		}

		&_title {
			@include flexbox();
			@include align-items(center);
		}
	}

	@media (min-width: $screen-sm-min) {
		display: block;
		@include flexbox();
		@include flex-wrap(wrap);
		@include align-items(center);

		&__block {
			width: 50%;
			@include flex-shrink(0);
		}
	}

	@media (min-width: $screen-md-min) {
		@include flex-wrap(nowrap);

		&__block {
			width: 36%;
			padding: 15px 15px;

			&_two {
				display: none;
			}

			&_four {
				width: 28%;
			}
		}

		&__level {

			&_data {
				padding-left: 10px;
			}
		}

		&__summary {
			padding-left: 0;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__block {
			padding: 15px 30px;

			&_one {
				padding-left: 35px;
			}

			&_three {

			}
		}

		&__level {

			&_data {
				padding-left: 20px;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__block {
			width: 25%;

			&_one {
				padding-left: 25px;
			}

			&_two {
				display: block;

				&:before {
					display: block;
				}
			}

			&_three {

			}

			&_four {
				width: 25%;
			}
		}
	}
}



.board_info {
	@include flexbox();
	@include flex-wrap(wrap);

	&__item {
		width: 55%;
		margin-bottom: 25px;
		@include flexbox();
		@include align-items(center);

		&:nth-child(2),
		&:nth-child(4) {
			width: 45%;
		}

		&:nth-child(3),
		&:nth-child(4) {
			margin-bottom: 0;
		}
	}

	&__icon {
		width: 45px;
		height: 37px;
		display: block;
		background: url("../img/board__bg.png") 50% 50% no-repeat;
		@include flex-shrink(0);
	}

	&__data {
		padding-left: 10px;

		span {
			display: block;
			color: #637b9b;
			font-size: 1rem;
			font-weight: 600;
			line-height: 1.4rem;
			white-space: nowrap;
		}

		strong {
			color: #fff;
			display: block;
			font-weight: 300;
			font-size: 1.4rem;
			line-height: 1.8rem;
			white-space: nowrap;
		}
	}
}