.nav {
	right: 0;
	top: 61px;
	width: 270px;
	z-index: 1200;
	position: fixed;
	overflow-y: auto;
	padding: 20px 0;
	margin-right: -300px;
	height: calc(100vh - 61px);
	background: #162134 url("../img/nav__bg.png") 50% 50%;
	@include box-shadow(0px 2px 5px 0px rgba(0, 0, 0, 0.2));
	@include transition(.3s);
	
	&__overlay {
		left: 0;
		right: 0;
		top: 61px;
		bottom: 0;
		opacity: 0;
		z-index: 700;
		display: block;
		position: fixed;
		visibility: hidden;
		background: rgba(0,0,0,0.7);
		@include transition(.3s);
	}
	
	&__user {
		margin-bottom: 15px;
		padding: 0 20px 15px 20px;
		border-bottom: 1px solid #19263a;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
		
		&_id {
			color: #637b9b;
			font-size: 1.4rem;
			line-height: 2rem;
			display: inline-block;
			text-decoration: none;
			padding: 5px 0 5px 25px;
			background: url("../img/icon__user.png") 0 50% no-repeat;
			
			&:hover {
				color: #637b9b;
				text-decoration: none;
			}
		}
		
		&_auth {
			width: 30px;
			height: 30px;
			display: inline-block;
			background: url("../img/icon__auth.png") 50% 50% no-repeat;
		}
	}
	
	&__mobile {
		border-bottom: 1px solid #19263a;
		margin: 0 0 15px 0;
		padding: 0 0 15px 0;
		list-style: none;
		font-size: 1.4rem;
		line-height: 2rem;
		
		> li {
			position: relative;
			
			> a {
				width: 100%;
				color: #637b9b;
				padding: 5px 20px;
				display: inline-block;
				text-decoration: none;
				
				&:hover {
					color: #fff;
					text-decoration: none;
					background: rgba(0,0,0,.18);
				}
			}
			
			&.active {
				
				> a {
					color: #fff;
				}
			}
		}
	}
	
	&__menu {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 1.4rem;
		line-height: 2rem;
		
		> li {
			
			> a {
				width: 100%;
				color: #637b9b;
				padding: 5px 20px;
				display: inline-block;
				text-decoration: none;
				
				&:hover {
					color: #fff;
					text-decoration: none;
					background: rgba(0,0,0,.18);
				}
			}
			
			&.active {
				
				> a {
					color: #fff;
				}
			}
			
			> ul {
				margin: 0;
				padding: 0;
				list-style: none;
				
				> li {
					
					> a {
						width: 100%;
						color: #637b9b;
						padding: 5px 20px 5px 50px;
						display: inline-block;
						text-decoration: none;
						
						&:hover {
							color: #fff;
							text-decoration: none;
							background: rgba(0,0,0,.18);
						}
					}
					
					&.active {
						
						> a {
							color: #fff;
						}
					}

					> ul {
						margin: 0;
						padding: 0;
						list-style: none;

						> li {

							> a {
								width: 100%;
								color: #637b9b;
								padding: 5px 20px 5px 80px;
								display: inline-block;
								text-decoration: none;

								&:hover {
									color: #fff;
									text-decoration: none;
									background: rgba(0,0,0,.18);
								}
							}
						}
					}
				}
			}
		}
	}
	
	
	@media (min-width: $screen-sm-min) {
		
		&__user {
			display: none;
		}
	}
	
	
	@media (min-width: $screen-lg-min) {
		top: 61px;
		left: 0;
		right: 0;
		margin: 0;
		padding: 0;
		z-index: 800;
		width: 100%;
		height: auto;
		display: block;
		overflow: visible;
		position: absolute;
		background: transparent;
		@include box-shadow(none);
		
		&__mobile {
			display: none;
		}
		
		&__container {
			margin: 0 auto;
			width: $container-lg;
			@include flexbox();
			@include align-items(center);
			@include justify-content(space-between);
		}
		
		&__menu {
			@include flexbox();
			
			
			> li {
				position: relative;
				
				> a {
					padding: 13px 20px;
					position: relative;
					
					&:before {
						left: 0;
						right: 0;
						opacity: 0;
						height: 40px;
						bottom: -6px;
						content: '';
						visibility: hidden;
						position: absolute;
						display: inline-block;
						background: url("../img/nav__select.png") 50% 100% no-repeat;
						@include transition(.2s);
					}
				}
				
				&.active {
				
					> a {
						
						&:before {
							opacity: 1;
							visibility: visible;
							@include transition(.2s);
						}
					}
				}
				
				&:hover {
					
					> a {
						background: rgba(0,0,0,0.18);
					}
					
					> ul {
						opacity: 1;
						visibility: visible;
					}
				}
				
				> ul {
					left: 0;
					top: 100%;
					opacity: 0;
					padding: 10px 0;
					z-index: 200;
					display: block;
					min-width: 100%;
					visibility: hidden;
					position: absolute;
					background: #19263a;
					@include box-shadow(0px 20px 24px 0px rgba(0, 0, 0, 0.4));
					
					> li {
						position: relative;
					
						> a {
							white-space: nowrap;
							padding: 5px 20px;
							
							&:hover {
								color: #151e2c;
								background: #ffea00;
							}
						}

						&:hover {

							> a {
								color: #151e2c;
								background: #ffea00;
								border-color: #151e2c;
							}

							> ul {
								opacity: 1;
								visibility: visible;
							}
						}


						&.dropdown {

							> a {
								position: relative;

								&:before {
									top: 50%;
									right: 6px;
									height: 20px;
									font-weight: 700;
									font-size: 20px;
									line-height: 20px;
									margin-top: -12px;
									content: '›';
									font-family: Arial, sans-serif;
									display: inline-block;
									position: absolute;

								}
							}
						}

						> ul {
							top: 0;
							left: 100%;
							opacity: 0;
							padding: 0;
							z-index: 200;
							display: block;
							min-width: 100%;
							visibility: hidden;
							position: absolute;
							background: #19263a;
							@include box-shadow(0px 20px 24px 0px rgba(0, 0, 0, 0.4));

							> li {
								position: relative;

								> a {
									color: #637b9b;
									padding: 5px 22px;
									white-space: nowrap;

									&:hover {
										color: #151e2c;
										background: #ffea00;
									}

								}
							}
						}
					}
				
				}
			}
		}
	}
	@media (min-width: $screen-xl-min) {
		
		&__container {
			width: $container-xl;
		}
	}
}


.nav_open {
	
	.nav {
		margin-right: 0;
		@include transition(.3s);
	}

	.nav__overlay {
		opacity: 1;
		visibility: visible;
		@include transition(.3s);
	}
	
	.header__toggle {
		
		&:after {
			top: 29px;
			@include rotate(-45deg);
			@include transition(.3s);
		}
		
		&:before {
			bottom: 29px;
			@include rotate(45deg);
			@include transition(.3s);
		}
		
		span {
			display: none;
		}
	}
	
	@media (min-width: $screen-lg-min) {
		
		.nav__overlay {
			display: none;
		}
	}
}