.dashboard {
	margin: 0 -15px;
	@include flexbox();
	@include flex-wrap(wrap);

	&__two {
		width: 100%;
		padding: 0 15px;
		margin-bottom: 30px;
	}

	&__three {
		width: 100%;
		padding: 0 15px;
		margin-bottom: 30px;
	}

	&__four {
		width: 100%;
		padding: 0 15px;
		margin-bottom: 30px;
	}

	@media (min-width: 576px) {

		&__four {
			width: 50%;
		}
	}

	@media (min-width: $screen-sm-min) {

		&__three {
			width: 50%;

			&_last {
				width: 100%;
			}
		}

		&__four {
			width: 50%;
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {
		margin: 0 -10px;

		&__two {
			width: 50%;
			padding: 0 10px;
		}

		&__three {
			width: 33.33%;
			padding: 0 10px;

			&_last {
				width: 33.33%;
			}
		}

		&__four {
			width: 25%;
			padding: 0 10px;
		}
	}

	@media (min-width: $screen-xl-min) {
		margin: 0 -20px;

		&__two {
			padding: 0 20px;
			margin-bottom: 40px;
		}

		&__three {
			padding: 0 20px;
			margin-bottom: 40px;
		}

		&__four {
			width: 25%;
			padding: 0 20px;
			margin-bottom: 40px;
		}
	}
}

.dashboard_icon {
	width: 92px;
	height: 76px;
	font-size: 0;
	line-height: 0;
	display: block;
	position: relative;

	&:before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		content: '';
		display: block;
		position: absolute;
		background: url("../img/dashboard__icon_bg.png") 50% 50% no-repeat;

		-webkit-animation-name: cog;
		-webkit-animation-duration: 5s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
		-moz-animation-name: cog;
		-moz-animation-duration: 5s;
		-moz-animation-iteration-count: infinite;
		-moz-animation-timing-function: linear;
		-ms-animation-name: cog;
		-ms-animation-duration: 5s;
		-ms-animation-iteration-count: infinite;
		-ms-animation-timing-function: linear;

		animation-name: cog;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}

	img {
		z-index: 10;
		position: relative;
	}

	&:hover {

		&:before {

		}
	}
}

@-ms-keyframes cog {
	from { -ms-transform: rotate(0deg); }
	to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.informer {
	background: rgba(119,178,255, 0.1);
	@include border-radius(6px);
	@include box-shadow(0px 2px 5px 0px rgba(0, 0, 0, 0.05));

	&__large {
		height: 128px;
		padding: 25px 20px;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}

	&__data {
		font-size: 0;
		line-height: 0;

		span {
			display: block;
			color: #637b9b;
			font-weight: 600;
			font-size: 1.2rem;
			line-height: 1.6rem;
			white-space: nowrap;
			margin-bottom: 4px;
			text-transform: uppercase;
		}

		strong {
			color: #fff;
			display: block;
			font-weight: 300;
			font-size: 3.6rem;
			line-height: 3.6rem;
			white-space: nowrap;
		}
	}

	&__row {

	}

	&__mini {
		padding: 10px 10px;
		@include flexbox();
		@include flex-wrap(wrap);

		&_elem {
			width: 50%;
			padding: 7px 10px 7px 44px;

			span {
				display: block;
				color: #637b9b;
				font-weight: 600;
				font-size: 1.2rem;
				line-height: 1.6rem;
				white-space: nowrap;
				margin-bottom: 4px;
				text-transform: uppercase;
			}

			strong {
				color: #fff;
				display: block;
				font-weight: 300;
				font-size: 1.8rem;
				line-height: 2rem;
				white-space: nowrap;
			}
		}

		&_01 {
			background: url("../img/dash_icon_mini__01.png") 10px 50% no-repeat;
		}

		&_02 {
			background: url("../img/dash_icon_mini__02.png") 10px 50% no-repeat;
		}

		&_03 {
			background: url("../img/dash_icon_mini__03.png") 10px 50% no-repeat;
		}

		&_04 {
			background: url("../img/dash_icon_mini__04.png") 10px 50% no-repeat;
		}
	}

	&__notice {
		padding: 30px 15px 40px 15px;

		&_heading {
			color: #fff;
			font-weight: 600;
			font-size: 1.6rem;
			line-height: 1.6rem;
			margin-bottom: 30px;
		}

		&_scroll {
			height: 114px;
			position: relative;

			&:before {
				left: 0;
				right: 4px;
				bottom: 0;
				content: '';
				z-index: 50;
				height: 50px;
				position: absolute;
				opacity: 0.7;
				background: url("../img/notice_line__bg.png") 0 100% repeat-x;
			}
		}

		.mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools,
		.mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools {
			left: 0;
			right: auto;
		}
	}

	&__index {
		margin: 0;
		width: 100%;
		height: 230px;
		padding: 35px 10px;
		list-style: none;
		@include flexbox();
		@include justify-content(space-evenly);

		> li {
			font-size: 1.2rem;
			line-height: 1.6rem;
			text-align: center;
		}

		span {
			color: #637b9b;
			display: block;
			font-size: 1.2rem;
			line-height: 1.6rem;
			text-transform: uppercase;
		}

		strong {
			color: #fff;
			display: block;
			font-size: 1.5rem;
			font-weight: 300;
			line-height: 2rem;
			padding-top: 20px;
			margin-bottom: 10px;
		}

		.dashboard_icon {
			margin: 0 auto;
		}
	}

	&__stage {
		min-height: 230px;
		padding: 25px 5px 10px 0;
		@include flexbox();

		&_data {
			margin: 0;
			padding: 0 0 0 15px;
			color: #637b9b;
			list-style: none;
			font-size: 1.2rem;
			line-height: 1.6rem;

			strong {
				color: #fff;
				font-weight: 600;
			}
		}

		&_level {
			@include flex-shrink(0)
		}

		&_charts {
			width: 100%;
			padding-top: 20px;
			@include flex-grow(1);
		}

		&_row {
			width: 100%;
			@include flexbox();
		}

		&_col {
			width: 50%;
			padding: 0 5px;
			min-height: 1px;
		}

		&_doughnut {
			max-width: 80px;
			position: relative;
			margin: 0 auto 35px auto;
		}

		&_value {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			color: #637b9b;
			font-size: 1.2rem;
			line-height: 1.6rem;
			text-align: center;
			padding: 20px 10px;
			position: absolute;
			background: url("../img/doughnut__bg.png") 50% 50% no-repeat;
			background-size: cover;
			@include flexbox();
			@include flex-direction(column);

			&_wrap {
				margin: auto 0;
			}

			span {
				display: block;
				text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.35);
			}

			strong {
				color: #fff;
				display: block;
				font-weight: 700;
				font-size: 2.4rem;
				line-height: 2.8rem;
				text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.35);
			}
		}

		&_legend {
			color: #fff;
			font-size: 1.2rem;
			line-height: 1.8rem;
			text-align: center;

			strong {
				color: #006dff;
				font-size: 1.8rem;
			}
		}

	}

	&__level {
		width: 122px;
		height: 127px;
		color: #ffcc00;
		font-size: 1.2rem;
		line-height: 1.6rem;
		text-align: center;
		padding-top: 25px;
		background: url("../img/informer_level__bg.png") 50% 0 no-repeat;

		strong {
			display: block;
			font-weight: 600;
			font-size: 4.8rem;
			line-height: 4.8rem;
		}

		span {
			display: block;
			font-size: 1.2rem;
			line-height: 1.6rem;
			text-transform: uppercase;
		}
	}

	@media (min-width: $screen-sm-min) {

		&__large {
			padding-left: 40px;
		}

		&__notice {
			//	padding-left: 40px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__large {
			padding-left: 20px;
		}

		&__notice {
			padding-left: 20px;
		}

		&__mini {

			&_elem {
				strong {
					font-size: 1.4rem;
				}
			}
		}

		&__stage {

			&_level {
				padding-left: 10px;
			}

			&_charts {
				padding-right: 5px;
			}

		}
	}

	@media (min-width: $screen-xl-min) {

		&__large {
			padding-left: 40px;
		}

		&__notice {
			padding-left: 40px;
			padding-right: 40px;
		}

		&__mini {

			&_elem {
				strong {
					font-size: 1.8rem;
				}
			}
		}

		&__index {

			strong {
				font-size: 1.8rem;
			}
		}

		&__stage {
			padding: 25px 5px 10px 13px;
		}

	}
}


.informer_chart {
	padding: 25px 20px;

	&__legend {
		margin-bottom: 25px;
		margin-right: -20px;
		@include flexbox();
		@include flex-wrap(wrap);
		@include align-items(center);
		@include justify-content(space-between);

		&_title {
			color: #ffffff;
			font-weight: 600;
			font-size: 1.6rem;
			line-height: 2rem;
			padding-right: 10px;
		}

		&_values {
			margin: 0;
			padding: 0;
			color: #627b9b;
			font-size: 1.2rem;
			line-height: 2rem;
			list-style: none;
			@include flexbox();
			@include align-items(center);

			> li {
				white-space: nowrap;
				padding: 0 20px;
				position: relative;
				@include flexbox();
				@include align-items(center);

				&:before {
					left: 0;
					top: 50%;
					content: '';
					width: 10px;
					height: 10px;
					margin-top: -5px;
					position: absolute;
					@include border-radius(50%);
				}

				&:first-child {

					&:before {
						background: #278fea;
					}
				}

				&:last-child {

					&:before {
						background: #ffea00;
					}
				}

				&.no_point {

					&:before {
						opacity: 0;
						padding-left: 0;
						visibility: hidden;
						display:  none !important;
					}
				}
			}

			strong {
				color: #fff;
				font-weight: 400;
				font-size: 2rem;
				line-height: 3rem;
				margin-right: 10px;
				display: inline-block;
			}

			span {
				display: inline-block;
			}
		}
	}

	&__content {

	}

	@media (min-width: $screen-sm-min) {
		padding: 25px 40px;

		&__legend {

			&_values {
				font-size: 1.4rem;

				strong {
					font-size: 3rem;
				}
			}
		}
	}
}

.notice_line {
	margin: 0;
	padding: 0 0 0 20px;
	max-width: 340px;
	color: #9aacc4;
	list-style: none;
	font-size: 1.2rem;
	line-height: 1.6rem;

	&__title {
		color: #ffcc00;
		font-weight: 600;
		font-size: 1.3rem;
		margin-bottom: 5px;
	}

	&__date {
		color: #627b9b;
		margin-top: 5px;
		font-size: 1.3rem;
	}

	> li {
		position: relative;
		padding: 0 0 15px 30px;

		&:before {
			left: 0;
			top: 4px;
			content: '';
			width: 10px;
			height: 10px;
			position: absolute;
			background: #fae201;
			display: inline-block;
			@include border-radius(50%);
		}

		&:after {
			top: 16px;
			left: 4px;
			width: 2px;
			content: '';
			bottom: -2px;
			position: absolute;
			background: #263f62;
			display: inline-block;
		}

		&:last-child {

			&:after {
				display: none;
			}
		}
	}
}

.box {
	background: rgba(119, 178, 255, 0.1);
	@include border-radius(6px);
	@include box-shadow(0px 2px 5px 0px rgba(0, 0, 0, 0.1));

	&__heading {
		color: #ffffff;
		font-size: 16px;
		font-weight: 600;
		line-height: 20px;
		padding: 28px 20px;
	}


	&__content {
		padding-bottom: 20px;
	}

	&__empty {
		color: #637b9b;
		padding: 25px 20px;
		font-size: 1.3rem;
		line-height: 2rem;
		text-align: center;
		margin-top: 20px;
		border: 1px dotted #2b4c87;

		&_wrap {

		}
	}

	@media (min-width: $screen-sm-min) {

		&__heading {
			padding: 28px 40px;
		}
	}
}

.bars {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 200px;
	list-style: none;
	display: table;
	border-bottom: 1px solid #243751;
	background: url('../img/bars.png') bottom left repeat-x;

	li {
		margin: 0;
		width: 90px;
		height: 200px;
		display: table-cell;
		text-align: center;
		position: relative;
		border-right: 1px solid #243751;

		.bar {
			left: 50%;
			bottom: 0;
			height: 0;
			width: 20px;
			z-index: 2000;
			display: block;
			margin-left: 0;
			background: #49E;
			position: absolute;
			border-top: 2px solid #ffcc00;
			background: rgba(244,67,54,0.5);
			-webkit-transition: height 1s ease-in-out;
			-moz-transition: height 1s ease-in-out;
			-o-transition: height 1s ease-in-out;
			transition: height 1s ease-in-out;
			transform: translate(-50%,0%);
			background: linear-gradient(to top, rgba(255,204,0,0.01), rgba(255,204,0,0.3));

			&:hover {

				.bars_tooltip {
					opacity: 1;
					visibility: visible;
					@include transition(.2s);
				}
			}
		}

		.bars_tooltip {
			top: -15px;
			opacity: 0;
			visibility: hidden;
			left: calc(100% + 10px);
			color: #fff;
			padding: 5px 8px;
			font-size: 1.3rem;
			line-height: 2rem;
			position: absolute;
			display: inline-block;
			background: #000;
			@include border-radius(4px);
			@include transition(.2s);

			&:before {
				left: -12px;
				top: 9px;
				content: '';
				position: absolute;
				display: inline-block;
				border: 6px solid transparent;
				border-right: 6px solid #000;
			}
		}

		span {
			left: 0;
			width: 100%;
			bottom: -25px;
			color: #637b9b;
			position: absolute;
			text-align: center;
		}
	}

	@media  (max-width: 576px) {

		li span {
			bottom: -35px;
			transform: rotate(90deg);
		}
	}

	@media (min-width: $screen-sm-min) {
		height: 300px;

		> li {
			height: 300px;
		}
	}

	@media (min-width: $screen-md-min) {
		height: 320px;

		> li {
			height: 320px;
		}
	}

	@media (min-width: $screen-lg-min) {
		height: 211px;

		> li {
			height: 211px;
		}
	}

	@media (min-width: $screen-xl-min) {
		height: 285px;

		> li {
			height: 285px;
		}
	}
}

.chart {
	display: block;
	padding: 0px 0px 25px 0px;

	@media  (max-width: 576px) {
		margin-bottom: 50px;
	}
}


.mCSB_scrollTools {
	width: 4px;

}

.mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical,
.mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical {
	margin: 0;
}

.mCS-minimal.mCSB_scrollTools .mCSB_draggerRail,
.mCS-minimal-dark.mCSB_scrollTools .mCSB_draggerRail {
	width: 4px;
	background-color: rgba(255,255,255,0.05);
}

.mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools,
.mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools {
	opacity: 1;
}