.tabs {

	&__nav {
		font-size: 1.3rem;
		line-height: 2rem;

		a {
			color: #546a80;
			display: block;
			cursor: pointer;
			text-align: center;
			position: relative;
			padding: 12px 15px;
			text-decoration: none;
			text-transform: uppercase;
			background: rgba(6, 17, 29, 0.3);

			&:before {
				left: 0;
				right: 0;
				opacity: 0;
				visibility: hidden;
				bottom: -6px;
				content: '';
				height: 40px;
				display: block;
				position: absolute;
				background: url("../img/tab__nav_bg.png") 50% 100% no-repeat;
				@include transition(.3s);
			}

			span {
				z-index: 20;
				position: relative;
			}

			&:hover {
				color: #fff;
				text-decoration: none;
			}

			&.active {
				color: #fff;
				background: rgba(24, 34, 47, 0.3);

				&:before {
					opacity: 1;
					visibility: visible;
					@include transition(.3s);
				}
			}
		}
	}

	&__item {
		display: none;

		&.active {
			display: block;
		}
	}

	&__box {
		padding: 20px 15px 0 15px;
		background: rgba(119,178,255,0.05);
		@include border-radius(0 0 4px 4px);
	}

	@media (min-width: $screen-sm-min) {

		&__nav {
			@include flexbox();

			a {
				height: 64px;
				@include flexbox();
				@include flex-direction(column);
				@include align-items(center);
				@include flex-grow(1);

				span {
					margin: auto 0;
				}
			}
		}


		&__box {
			padding: 30px 30px 0 30px;
			background: rgba(119,178,255,0.05);
		}
	}

	@media (min-width: $screen-md-min) {

		&__nav {
			font-size: 1.6rem;

			a {
				color: #303f54;

				span {

					&:before {
						left: 0;
						top: 50%;
						z-index: 1;
						content: '';
						font-size: 0;
						line-height: 0;
						position: absolute;
						display: inline-block;
					}
				}

				&.nav_icon_1 {

					span {
						padding-left: 34px;

						&:before {
							width: 22px;
							height: 21px;
							margin-top: -9px;
							background: url("../img/tab__icon_01.png") 0 0 no-repeat;
						}
					}

					&:hover,
					&.active {

						span {

							&:before {
								background-position: 0 -21px;
							}
						}
					}
				}

				&.nav_icon_2 {

					span {
						padding-left: 60px;

						&:before {
							width: 44px;
							height: 18px;
							margin-top: -9px;
							background: url("../img/tab__icon_02.png") 0 0 no-repeat;
						}
					}

					&:hover,
					&.active {

						span {

							&:before {
								background-position: 0 -18px;
							}
						}
					}
				}

				&.nav_icon_3 {

					span {
						padding-left: 34px;

						&:before {
							width: 22px;
							height: 22px;
							margin-top: -11px;
							background: url("../img/tab__icon_03.png") 0 0 no-repeat;
						}
					}

					&:hover,
					&.active {

						span {

							&:before {
								background-position: 0 -22px;
							}
						}
					}
				}

				&.nav_icon_4 {

					span {
						padding-left: 34px;

						&:before {
							width: 22px;
							height: 22px;
							margin-top: -11px;
							background: url("../img/tab__icon_04.png") 0 0 no-repeat;
						}
					}

					&:hover,
					&.active {

						span {

							&:before {
								background-position: 0 -22px;
							}
						}
					}
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {

	}
}

.goods {
	margin: 0 auto;
	max-width: 360px;
	padding: 10px 10px 25px 10px;
	background: rgba(255,255,255,0.1);
	@include border-radius(5px);

	&__image {
		display: block;
	}

	&__name {
		height: 54px;
		color: #fff;
		font-size: 1.2rem;
		line-height: 1.6rem;
		text-align: center;
		text-transform: uppercase;
		padding: 5px 10px 5px 10px;
		@include flexbox();
		@include flex-direction(column);

		span {
			display: block;
			margin: auto 0;
		}
	}

	&__btn {
		margin: 0;
		padding: 0;
		list-style: none;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);

		> li {

			&:first-child {
				padding-right: 18px;
				@include flex-grow(1);
			}

			&:last-child {
				width: 40px;
				@include flex-shrink(0);
			}


			.btn {
				width: 100%;
			}
		}
	}
}