.pack {
	text-align: center;
	margin-bottom: 40px;
	padding: 20px 20px 20px 20px;
	background: rgba(119,178,255,0.05);
	@include box-shadow(0px 2px 5px 0px rgba(0, 0, 0, 0.05));
	@include border-radius(4px);

	&__name {
		color: #e0b40a;
		font-weight: 700;
		font-size: 1.9rem;
		line-height: 2.1rem;
		margin-bottom: 10px;
		text-transform: uppercase;
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);

		i {
			width: 45px;
			height: 37px;
			display: block;
			margin-right: 8px;
		}

		span {
			display: inline-block;
		}
	}

	&__value {
		color: #fff;
		font-size: 2rem;
		font-weight: 300;
		line-height: 3rem;
		white-space: nowrap;
		margin-bottom: 15px;
	}

	&__period {
		font-size: 0;
		line-height: 0;
		margin-bottom: 15px;

		span {
			color: #fff;
			font-weight: 600;
			font-size: 1.2rem;
			line-height: 2rem;
			padding-left: 26px;
			white-space: nowrap;
			display: inline-block;
			background: url("../img/icon__clock.png") 0 50% no-repeat;
		}
	}

	&:hover {
		background-color: rgba(9,45,93,0.5);
	}

	&.active {
		background-color: rgba(9,45,93,0.75);
	}

	.btn {
		min-width: 140px;
	}

	@media (min-width: $screen-md-min) {

		&__value {
			font-size: 2.4rem;
		}
	}

	@media (min-width: $screen-lg-min) {

		&_small {

			.pack__top {
				@include flexbox();
				@include align-items(center);
				@include justify-content(space-between);
			}

			.pack__name {
				margin-bottom: 0;
			}
		}
	}

	@media (min-width: $screen-xl-min) {
		text-align: left;
		padding-bottom: 35px;
		padding-right: 40px;

		&_small {
			padding-top: 22px;
			padding-bottom: 23px;
		}

		&__name {
			margin: 0;
		}

		&__period {
			margin: 0;
		}

		&__value {
			margin: 0;
		}

		&__top {
			margin-bottom: 20px;
			@include flexbox();
			@include align-items(center);
			@include justify-content(space-between);
		}

		&__bottom {
			@include flexbox();
			@include align-items(center);
			@include justify-content(space-between);
		}
	}
}

.pack_range {

	&__grid {
		color: #fff;
		font-weight: 300;
		font-size: 1.4rem;
		line-height: 2rem;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}

	&__total {
		padding-top: 20px;
		@include flexbox();
		@include flex-wrap(wrap);
		@include align-items(center);
		@include justify-content(space-between);
	}

	&__value {
		color: #fff;
		min-width: 80px;
		padding: 9px 10px;
		font-size: 1.3rem;
		line-height: 2rem;
		margin-top: 10px;
		text-align: center;
		display: inline-block;
		border: 1px solid #fff;
		background: rgba(255,255,255,0.1);
		@include border-radius(4px);
	}

	&__summary {
		padding: 0;
		font-size: 1.2rem;
		line-height: 2.4rem;
		list-style: none;
		margin: 10px -25px 0 -25px;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);

		> li {
			padding: 0 25px;
			white-space: nowrap;

			span {
				display: block;
				color: #637b9b;
				text-transform: uppercase;
			}

			strong {
				color: #fff;
				display: block;
				font-weight: 300;
				font-size: 2.2rem;
			}
		}
	}

	.irs-min,
	.irs-max {
		display: none;
	}

	.irs-single {
		top: -20px;
		color: #ffffff;
		font-weight: 300;
		font-size: 1.2rem;
		line-height: 2rem;
		background: transparent;

		&:before {
			display: none;
		}
	}

	.irs--round {
		height: 30px;

		.irs-line {
			top: 16px;
			background-color: #48586e;
		}

		.irs-bar {
			top: 16px;
			background-color: #ffcc00;
		}

		.irs-handle {
			top: 9px;
			width: 18px;
			height: 18px;
			cursor: pointer;
			background: #fff;
			border: 4px solid #ffcc00;
			@include box-shadow(none);
		}
	}
}