.career {
	opacity: 0.6;
	padding: 15px 12px;
	margin-bottom: 20px;
	border: 2px solid transparent;
	background: rgba(119,178,255,0.05);
	@include box-shadow(0px 2px 5px 0px rgba(0, 0, 0, 0.05));
	@include border-radius(3px);

	&__step {
		margin-bottom: 10px;

		&_number {
			width: 122px;
			height: 127px;
			display: none;
			color: #3f5a7f;
			font-size: 0;
			line-height: 0;
			text-align: center;
			padding-top: 25px;
			background: url("../img/career__step_base.png") 50% 50% no-repeat;

			strong {
				display: block;
				font-weight: 600;
				font-size: 4.8rem;
				line-height: 4.8rem;
			}

			span {
				display: block;
				font-weight: 600;
				font-size: 1.2rem;
				line-height: 1.6rem;
				text-transform: uppercase;
			}
		}

		&_name {
			color: #fff;
			font-weight: 300;
			font-size: 2.2rem;
			line-height: 3rem;

			br {
				display: none;
			}
		}
	}

	&__progress__progress {
		margin-bottom: 10px;
	}

	&__line {
		padding: 10px 0;
		@include flexbox();
		@include flex-wrap(wrap);
		@include align-items(center);
		@include justify-content(space-between);

		&_legend {
			width: 60px;
			font-size: 1.4rem;
			line-height: 2rem;
			white-space: nowrap;
			color: rgba(255,255,255,0.8);
			@include flex-shrink(0);
		}

		&_progress {
			width: 55px;
			text-align: right;
			font-size: 1.4rem;
			line-height: 2rem;
			white-space: nowrap;
			color: rgba(255,255,255,0.8);
			@include flex-shrink(0);
		}

		&_bar {
			height: 6px;
			position: relative;
			background: #27394e;
			@include flex-grow(1);

			span {
				top: 0;
				left: 0;
				height: 100%;
				display: block;
				position: absolute;
				background: #0f57b8;
				@include box-shadow(0px 0px 8px 0px rgba(21, 98, 201, 0.8));
			}
		}
	}

	&__data {
		@include flexbox();
		@include justify-content(space-between);

		ul {
			margin: 0;
			padding: 0;
			font-size: 0;
			line-height: 0;
			list-style: none;

			li {
				@include flexbox();
				@include align-items(center);

				&:first-child {
					margin-bottom: 20px;
				}
			}
		}

		&_icon {
			width: 39px;
			height: 37px;
			display: block;
			margin-right: 10px;
		}

		&_value {

			span {
				color: #637b9b;
				display: block;
				font-weight: 600;
				font-size: 1.4rem;
				line-height: 1.6rem;
				text-transform: uppercase;
			}

			strong {
				display: block;
				font-weight: 300;
				font-size: 1.8rem;
				line-height: 2rem;
			}
		}
	}

	&__bonus {
		font-weight: 300;
		font-size: 1.4rem;
		line-height: 2rem;
		white-space: nowrap;
		margin-left: 60px;
		padding: 3px 0 2px 35px;
		background: url("../img/icon__bonus.png") 0 50% no-repeat;
	}

	&_success {
		opacity: 1;
		background: rgba(23,92,183,0.1);

		.career__step_number {
			color: #175cb7;
			text-shadow: 1px 1px 2px rgba(29, 121, 246, 0.3);
			background-image: url("../img/career__step_done.png");
		}

		.career__step_name {
			color: #237cf3;
			text-shadow: 1px 1px 2px rgba(29, 121, 246, 0.5);
		}

		.career__line_legend {
			color: #fff;
		}

		.career__line_progress {
			color: #fff;
		}
	}

	&_success_light {
		opacity: 1;
		border-color: #175cb7;
		background: rgba(23,92,183,0.1);

		.career__step_number {
			color: #175cb7;
			text-shadow: 1px 1px 2px rgba(29, 121, 246, 0.3);
			background-image: url("../img/career__step_done.png");
		}

		.career__step_name {
			color: #fff;
		}

		.career__line_legend {
			color: #fff;
		}

		.career__line_progress {
			color: #fff;
		}
	}

	&_active {
		opacity: 1;
		border-color: #175cb7;
		background: rgba(23,92,183,0.3);

		.career__step_number {
			color: #175cb7;
			text-shadow: 1px 1px 2px rgba(29, 121, 246, 0.3);
			background-image: url("../img/career__step_active.png");
		}

		.career__step_name {
			color: #237cf3;
	//		text-shadow: 1px 1px 2px rgba(29, 121, 246, 0.5);
		}

		.career__line_legend {
			color: #fff;
		}

		.career__line_progress {
			color: #fff;
		}
	}

	&_active_light {
		opacity: 1;
		border-color: #ffcc00;
		background: rgba(23,92,183,0.3);

		.career__step_number {
			color: #175cb7;
			text-shadow: 1px 1px 2px rgba(29, 121, 246, 0.3);
			background-image: url("../img/career__step_active.png");
		}

		.career__step_name {
			color: #2b98f3;
		//	text-shadow: 1px 1px 1px rgba(29, 121, 246, 0.5);
		}

		.career__line_legend {
			color: #fff;
		}

		.career__line_progress {
			color: #fff;
		}
	}

	@media (min-width: $screen-sm-min) {
		height: 160px;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);

		&__step {
			width: 160px;
			margin-bottom: 0;
			@include flex-shrink(0);

			&_number {

				strong {

				}

				span {

				}
			}

			&_name {
				font-size: 2.8rem;
				line-height: 3.2rem;

				br {
					display: block;
				}
			}
		}

		&__progress {
			margin-bottom: 0;
			margin-right: 50px;
			@include flex-grow(1);
		}

		&__line {
			padding: 15px 0;
		}

		&__data {
			width: 260px;
			margin-bottom: 0;
			@include flex-shrink(0);
		}

		&__bonus {
			margin-left: 0;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-right: 40px;

		&__step {
			width: 200px;

			&_name {
				padding-left: 15px;
				font-size: 3.6rem;
				line-height: 3.8rem;
			}
		}

		&__progress {
			margin-right: 70px;
		}

		&__bonus {
			margin-left: 60px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__step {
			width: 360px;
			@include flexbox();
			@include align-items(center);

			&_number {
				display: block;
			}

			&_name {
				padding-left: 30px;
			}
		}
	}


	@media (min-width: $screen-xl-min) {
		padding-left: 20px;

		&__step {
			width: 390px;
		}

		&__progress {
			margin-right: 110px;
		}
	}
}