.card {

	&__left {
		margin-bottom: 20px;
	}

	&__center {

	}

	&__right {

	}

	&__photo {
		max-width: 235px;
		margin: 0 auto 35px auto;
	}

	&__link {
		padding-top: 20px;
	}

	@media (min-width: $screen-sm-min) {

	}

	@media (min-width: $screen-md-min) {
		@include flexbox();

		&__left {
			width: 180px;
			margin-bottom: 0;
			@include flex-shrink(0)
		}

		&__center {
			padding: 0 30px;
			@include flex-grow(1);
		}

		&__right {
			width: 180px;
			margin-bottom: 0;
			@include flex-shrink(0)
		}

		&__link {
			padding-top: 44px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__left {
			width: 235px;
		}

		&__right {
			width: 235px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__center {
			padding: 0 75px;
		}

		&__right {
			width: 300px;
		}
	}
}

