.btn {
	outline: none;
	color: #ffea00;
	cursor: pointer;
	font-weight: 700;
	font-size: 1.2rem;
	line-height: 2rem;
	padding: 9px 20px 7px 20px;
	user-select: none;
	text-align: center;
	position: relative;
	white-space: nowrap;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
	border: 2px solid #ffea00;
	border-bottom-color: #e0b800;
	font-family: $font-family-base;
	background-color: rgba(106,139,175,0.15);
	@include border-radius(4px);

	&:before {
		top: -6px;
		left: -6px;
		right: -6px;
		bottom: -6px;
		content: '';
		z-index: 1;
		position: absolute;
		display: inline-block;
		background: rgba(106,139,175,0.15);
		@include border-radius(6px);
	}

	span {
		z-index: 10;
		position: relative;
		display: inline-block;
	}

	&:hover {
		color: #fff;
		border-color: #fff;
	//	@include gradient-vertical(#fff800,#f3dd00);
	}

	&:active {
	//	@include gradient-vertical(#f3dd00,#fff800);

		&:before {

		}
	}

	&:focus,
	&.focus {
		outline: 0;
	}

	input {
		top: 0;
		left: 0;
		opacity: 0;
		width: 1px;
		height: 1px;
		overflow: hidden;
		visibility: hidden;
		position: absolute;
	}
}


.btn_yellow {
	color: #363636;
	@include gradient-vertical(#fff800,#f3dd00);

	&:hover {
		color: #363636;
		border-color: #ffcc00;
		@include gradient-vertical(#ffcc00,#ffcc00);
	}

	&:active {
		color: #363636;
		@include gradient-vertical(#fff800,#f3dd00);
	}
}

.btn_lg {
	width: 100%;

	@media (min-width: $screen-lg-min) {
		min-width: 240px;
	}

	@media (min-width: $screen-xl-min) {
		min-width: 290px;
	}

}

.btn__money {

	span {
		padding-left: 34px;
		background: url("../img/btn_money.png") 0 50% no-repeat;
	}
}

.btn_save {

	span {
		padding-left: 25px;
		background: url("../img/btn_save.png") 0 50% no-repeat;
	}
}

.btn_edit {

	span {
		padding-left: 20px;
		background: url("../img/btn__edit.png") 0 50% no-repeat;
	}
}

.btn_create {

	span {
		padding-left: 20px;
		background: url("../img/btn_create.png") 0 50% no-repeat;
	}
}

.btn_exchange {

	span {
		padding-left: 30px;
		background: url("../img/btn_exchange.png") 0 50% no-repeat;
	}
}

.btn_search {

	span {
		padding-left: 22px;
		background: url("../img/btn__search.png") 0 50% no-repeat;
	}
}

.btn_icon_cloud {
	padding: 0;
	width: 40px;
	height: 40px;
	font-size: 0;
	line-height: 0;

	&:after {
		top: 50%;
		left: 50%;
		content: '';
		width: 36px;
		height: 36px;
		z-index: 50;
		position: absolute;
		margin:  -18px 0 0 -18px;
		background: url("../img/icon__cloud.png") 50% 50% no-repeat;
	}

	span {
		display: none;
	}
}

.btn_long {
	width: 100%;
}

.btn_text_sm {
	font-size: 1.1rem;
}

.btn_md {
	width: 100%;
	max-width: 290px;
}

.btn_sm {
	 color: #363636;
	 border: none;
	 outline: none;
	 cursor: pointer;
	 font-weight: 700;
	 font-size: 1.2rem;
	 line-height: 2rem;
	 padding: 5px 20px;
	 user-select: none;
	 text-align: center;
	 white-space: nowrap;
	 background-color: #ffea00;
	 text-decoration: none;
	 text-transform: uppercase;
	 display: inline-block;
	 vertical-align: middle;
	font-family: $font-family-base;
	 @include border-radius(4px);

	 &:hover {
		 color: #363636;
		 background-color: #ffc226;
	 }

	 &:active {
		 background-color: #ffea00;
	 }

	 &:focus,
	 &.focus {
		 outline: 0;
	 }
}

.btn_no_shadow {

	&:before {
		opacity: 0;
		display: none;
		visibility: hidden;
	}
}

.btn_group {
	margin: 0 -10px;
	padding: 0;
	list-style: none;
	@include flexbox();
	@include flex-wrap(wrap);
	@include align-items(center);

	> li {
		width: 100%;
		padding: 5px 10px;
	}



	@media (min-width: 560px) {

		> li {
			width: auto;
		}
	}

}