.form_control {
	margin: 0;
	width: 100%;
	height: 40px;
	outline: none;
	color: #ffffff;
	font-size: 1.3rem;
	line-height: 2rem;
	padding: 9px 15px;
	display: inline-block;
	vertical-align: middle;
	background: transparent;
	border: 1px solid #384659;
	@include placeholder(#ffffff);
	@include border-radius(4px);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus,
	&:active {
		outline: none;
		border-color: #3e4d5b;
		@include placeholder(transparent);
	}

	&.error {
		border-color: #e2001a;
	}

	&:disabled {
		background: url("../img/disable_bg.bng") 50% 50% repeat-x;
	}

	&_sm {
		height: 36px;
		padding: 7px 18px;
	}

	&__email {
		padding-left: 35px;
		background: transparent url("../img/form__email.png") 10px 50% no-repeat;
	}

	&__user {
		padding-left: 35px;
		background: transparent url("../img/form__user.png") 10px 50% no-repeat;
	}

	&__wallet {
		padding-left: 35px;
		background: transparent url("../img/form__wallet.png") 10px 50% no-repeat;
	}

	&__link {
		color: #045cd1;
		text-decoration: underline;
	}
}

textarea.form_control {
	height: auto;
	resize: none;
}

.form_select {
	cursor: pointer;
	padding-right: 45px;
	background: transparent url("../img/icon__select.png") 100% 50% no-repeat;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';

	-ms-appearance: none;
	appearance: none!important;

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&::-ms-expand {
		display: none;
	}

	&_sm {
		font-size: 1.2rem;
	}
}

.form_select_multiple {
	cursor: pointer;
	padding-right: 45px;
	background: transparent url("../img/icon__select.png") 100% 50% no-repeat;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';

	-ms-appearance: none;
	appearance: none!important;

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&::-ms-expand {
		display: none;
	}
}

option {
	color: #000;
}

.form_group {
	margin-bottom: 15px;
}

.form_label {
	display: block;
	color: #fff800;
	font-weight: 300;
	font-size: 1.2rem;
	line-height: 1.6rem;
	margin-bottom: 5px;

	&_icon {
		@include flexbox();
		@include align-items(center);

		i {
			font-size: 0;
			line-height: 0;
			margin-right: 8px;
			display: inline-block;
		}

		span {
			display: inline-block;
		}
	}

	@media (min-width: $screen-sm-min) {
		min-height: 16px;
	}
}



.file_form {
	width: auto;
	max-width: 500px;
	@include flexbox();
	@include flex-wrap(wrap);
	@include align-items(center);

	&__input {
		font-weight: 400;
		position: relative;
		display: inline-block;
		margin-right: 12px;

		input {
			top: 0;
			left: 0;
			width: 1px;
			height: 1px;
			opacity: 0;
			overflow: hidden;
			visibility: hidden;
			position: absolute;
		}

		span {
			color: #278fea;
			cursor: pointer;
			font-weight: 400;
			font-size: 1.3rem;
			line-height: 2rem;
			padding-left: 25px;
			white-space: nowrap;
			display: inline-block;
			text-transform: uppercase;
			background: transparent url("../img/icon__attach.png") 0 50% no-repeat;
		}
	}

	&__text {
		color: #fff;
		opacity: 0.5;
		font-size: 1.2rem;
		line-height: 2rem;
		display: inline-block;
	}

	&__source {
		width: 100%;
		padding-top: 15px;
		font-size: 1.2rem;
		line-height: 2rem;
		@include flexbox();
		@include flex-wrap(wrap);
		@include align-items(center);
	}


	&__item {
		font-size: 0;
		line-height: 0;
		color: #ffffff;
		margin-right: 30px;
		position: relative;
		padding-left: 25px;
		padding-right: 16px;
		display: inline-block;
		background: url("../img/icon__file.png") 0 50% no-repeat;

		span {
			max-width: 200px;
			overflow: hidden;
			font-size: 1.2rem;
			line-height: 2rem;
			white-space: nowrap;
			display: inline-block;
			text-overflow: ellipsis;
		}

		i {
			top: 50%;
			right: 0;
			width: 12px;
			height: 12px;
			font-size: 0;
			line-height: 0;
			cursor: pointer;
			margin-top: -5px;
			position: absolute;
			display: inline-block;
			background: transparent;
			@include border-radius(50%);

			&:after,
			&:before {
				top: 50%;
				left: 50%;
				z-index: 5;
				width: 10px;
				height: 1px;
				content: '';
				font-size: 0;
				line-height: 0;
				background: #fff;
				position: absolute;
				display: inline-block;
				margin: -1px 0 0 -5px;
			}

			&:after {
				@include rotate(45deg);
			}

			&:before {
				@include rotate(-45deg);
			}

			&:hover {

				&:after,
				&:before {
					background: #fff;
				}
			}
		}
	}
}

.flex_group {
	width: 100%;
	@include flexbox();
	@include flex-wrap(wrap);
	@include align-items(center);
	@include justify-content(space-between);
}

.form_inline {
	position: relative;

	&__btn {
		top: 50%;
		right: 15px;
		z-index: 20;
		width: 60px;
		height: 36px;
		border: none;
		outline: none;
		font-size: 0;
		line-height: 0;
		cursor: pointer;
		margin-top: -18px;
		position: absolute;
		display: inline-block;
		background-repeat: no-repeat;
		background-color: transparent;
		background-position: 100% 50%;
		@include transition(.3s);

		&:hover {
			opacity: 0.8;
			@include transition(.3s);
		}
	}

	&__change {
		background-image: url("../img/form__btn_edit.png");
	}

	&__save {
		background-image: url("../img/form__btn_save.png");
	}


	.form_control {
		padding-right: 60px;
	}
}

.form_checkbox {
	color: #fffd54;
	font-size: 0;
	line-height: 0;
	font-weight: 400;
	position: relative;
	display: inline-block;

	input {
		top: 0;
		left: 0;
		width: 1px;
		height: 1px;
		opacity: 0;
		overflow: hidden;
		visibility: hidden;
		position: absolute;
	}

	span {
		cursor: pointer;
		font-size: 1.3rem;
		line-height: 2rem;
		padding-left: 30px;
		display: inline-block;

		&:before {
			top: 0;
			left: 0;
			content: '';
			z-index: 10;
			width: 20px;
			height: 20px;
			position: absolute;
			display: inline-block;
			border: 1px solid #2f3743;
			@include border-radius(3px);
		}

		&:after {
			top: 5px;
			left: 5px;
			content: '';
			z-index: 20;
			width: 10px;
			height: 10px;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			background: #fffd54;
			@include border-radius(2px);
			@include transition(.3s);
		}
	}

	input:checked + span {

		&:before {
			border-color: #fffd54;
		}

		&:after {
			opacity: 1;
			visibility: visible;
			@include transition(.3s);
		}
	}
}

.form_radio {
	color: #363636;
	font-size: 0;
	line-height: 0;
	font-weight: 400;
	position: relative;
	display: inline-block;

	input {
		top: 0;
		left: 0;
		width: 1px;
		height: 1px;
		opacity: 0;
		overflow: hidden;
		visibility: hidden;
		position: absolute;
	}

	span {
		cursor: pointer;
		font-size: 1.3rem;
		line-height: 2rem;
		padding-left: 25px;
		display: inline-block;

		&:before {
			left: 0;
			top: 2px;
			content: '';
			z-index: 10;
			width: 16px;
			height: 16px;
			position: absolute;
			display: inline-block;
			border: 2px solid #eeeeee;
			@include border-radius(50%);
		}

		&:after {
			top: 7px;
			left: 5px;
			content: '';
			z-index: 20;
			width: 6px;
			height: 6px;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			background: #ffcc00;
			@include border-radius(50%);
			@include transition(.3s);
		}
	}

	input:checked + span {

		&:after {
			opacity: 1;
			visibility: visible;
			@include transition(.3s);
		}
	}
}

.form_switch {
	font-size: 0;
	line-height: 0;
	font-weight: 400;
	position: relative;
	display: inline-block;

	input {
		top: 0;
		left: 0;
		width: 1px;
		height: 1px;
		opacity: 0;
		overflow: hidden;
		visibility: hidden;
		position: absolute;
	}

	span {
		color: #677a98;
		cursor: pointer;
		font-size: 1.2rem;
		line-height: 2rem;
		padding-left: 45px;
		display: inline-block;

		&:before {
			top: 0;
			left: 0;
			z-index: 10;
			width: 40px;
			height: 20px;
			content: '';
			position: absolute;
			display: inline-block;
			border: 2px solid #445269;
			@include border-radius(10px);
		}

		&:after {
			top: 5px;
			left: 5px;
			content: '';
			z-index: 20;
			width: 10px;
			height: 10px;
			background: #fff;
			position: absolute;
			@include border-radius(50%);
			@include transition(.3s);
		}
	}

	input:checked + span {
		color: #3f8ff7;

		&:before {
			background: #4bbafd;
			border-color: #4bbafd;
			@include box-shadow(0px 0px 10px 0px rgba(34, 83, 245, 0.7));
		}

		&:after {
			left: 25px;
			@include transition(.3s);
		}
	}
}

.group_inline {
	margin: 0 -20px 0 -8px;
	@include flexbox();
	@include flex-wrap(wrap);
	@include align-items(center);

	label {
		margin: 0 8px 8px 8px;
	}
}

.form_warning {
	color: #00bcff;
	padding: 10px 0;
	font-size: 1.4rem;
	line-height: 2rem;
}


.form_line {
	padding: 4px 4px 4px 4px;
	border: 1px solid #384659;
	background: rgba(255,255,255,0.05);
	@include flexbox();
	@include align-items(center);
	@include border-radius(4px);

	&__input {
		width: 100%;
		color: #fff;
		border: none;
		outline: none;
		font-weight: 400;
		font-size: 1.3rem;
		line-height: 2rem;
		overflow: hidden;
		display: inline-block;
		background: transparent;
		padding: 0 15px;
		@include placeholder(#fff);
		@include flex-grow(1);


		&:focus {
			@include placeholder(transparent);
		}
	}

	.btn {
		@include flex-shrink(0);
	}

	@media (min-width: $screen-sm-min) {
		min-width: 290px;
	}
}
