/*======================================
  Selectric
======================================*/
$main-color     : #DDD;
$secondary-color: #FFF;
$bg-color       : transparent;
$text-color     : #FFF;
$height         : 40px;
$spacing        : 10px;
$border-width   : 1px;
$inner-height   : $height - ($border-width * 2);

.selectric-wrapper {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.selectric-responsive {
  width: 100%;
}

.selectric {
  border-radius: 4px;
  position: relative;
  background: $bg-color;
  border: 1px solid #384659;

  .label {
	  display: block;
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  padding: 9px 0;
	  margin: 0 40px 0 10px;
	  font-size: 1.3rem;
	  line-height: 2rem;
      color: #fff;
	  height: 40px;
  }

  .button {
    top: 0;
    right: 0;
    width: 36px;
    height: 100%;
    font-size: 0;
    line-height: 0;
    display: block;
    text-align: center;
    position: absolute;
    background: transparent url("../img/icon__select.png") 6px 50% no-repeat;

    &:after {
      display: none;
    }
  }
}

.selectric-focus .selectric {
  background: darken($bg-color, 10%);
}

.selectric-hover .selectric {
  background: darken($bg-color, 5%);

  .button {
    color: darken($secondary-color, 10%);

    &:after {
      border-top-color: darken($secondary-color, 10%);
    }
  }
}

.selectric-open {
  z-index: 9999;

  .selectric-items {
    display: block;
  }
}

.selectric-disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  user-select: none;
}

.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;

  select {
    position: absolute;
    left: -100%;
  }

  &.selectric-is-native {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;

    select {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      border: none;
      z-index: 1;;
      box-sizing: border-box;
      opacity: 0;
    }
  }
}

.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important;
}

.selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}

/* Items box */
.selectric-items {
  left: 0;
  width: 100% !important;
  max-width: 100%;
  top: calc(100% + 1px);
  z-index: -1;
  display: none;
  overflow: hidden;
  position: absolute;
  background: #1e324e;
  @include box-shadow(0px 12px 14px 0px rgba(0, 0, 0, 0.25));
  @include border-radius(4px);

  .selectric-scroll {
    height: 100%;
    overflow: auto;
  }

  .selectric-above & {
    top: auto;
    bottom: 100%;
  }

  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 20px;
    min-height: 20px;
  }

  li {
    display: block;
    padding: 10px;
    color: #FFF;
    cursor: pointer;

    &.selected {
      background: #1e324e;
      color: #FFF;
    }

    &.highlighted {
      background: #1e324e;
      color: #FFF;
    }

    &:hover {
      background: #345784;
      color: #FFF;
    }
  }

  .disabled {
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: default !important;
    background: none !important;
    color: #FFF !important;
    user-select: none;
  }

  .selectric-group {
    .selectric-group-label {
      font-weight: bold;
      padding-left: 10px;
      cursor: default;
      user-select: none;
      background: none;
      color: #FFF;
    }

    &.disabled li {
      filter: alpha(opacity=100);
      opacity: 1;
    }

    li {
      padding-left: 25px;
    }
  }
}
