.table {

	&__header {
		padding: 0 20px;
		background: rgba(6,17,29,0.3);
	}

	&__content {

		&_scroll {
			padding: 0 20px;
			max-height: 220px;
		}
	}

	@media (max-width: 575px) {

		&__header {
			display: none;
		}

	}

	@media (min-width: $screen-sm-min) {

		&__header {
			padding: 0 40px;
		}

		&__content {

			&_scroll {
				padding: 0 40px;
			}
		}
	}
}

.table_header {
	width: 100%;
	border-collapse: collapse;

	td {
		width: 25%;
		color: #fff;
		border: none;
		height: 36px;
		white-space: nowrap;
		padding: 10px 20px;
		font-size: 1.1rem;
		line-height: 1.4rem;
		text-transform: uppercase;
		vertical-align: middle;
	}

	&__wrap {
		@include flexbox();
		@include align-items(center);

		i {
			font-size: 0;
			line-height: 0;
			padding-right: 8px;
			display: inline-block;
		}

		span {
			display: inline-block;
		}
	}
}

.table_content {
	width: 100%;
	border-collapse: collapse;

	td {
		width: 25%;
		color: #637b9b;
		white-space: nowrap;
		padding: 10px 20px;
		font-size: 1.3rem;
		line-height: 1.6rem;
		border-bottom: 1px dotted #2b4c87;

		&:first-child {
			border-left: 1px solid transparent;
		}

		&:last-child {
			border-right: 1px solid transparent;
		}
	}

	tr {

		&:hover {
			position: relative;
			background: rgba(39,61,88,0.3);

			td {
				color: #fff;

				&:first-child {
			//		border-left: 1px dotted #2b4c87;
				}

				&:last-child {
			//		border-right: 1px dotted #2b4c87;
				}
			}
		}
	}


	@media (max-width: 575px) {
		display: block;

		tbody {
			width: 100%;
			display: block;
		}

		tr {
			display: block;
			margin-bottom: 20px;
			border: 2px solid #203a61;
		}

		td {
			width: 100%;
			border-bottom: 1px solid #203a61;
			@include flexbox();
			@include align-items(center);
			@include justify-content(space-between);

			&:last-child {
				border-bottom: none;
			}

			&:before {
				font-weight: 700;
				padding-right: 10px;
				display: inline-block;
				content: attr(data-header);
			}

			span {
				display: inline-block;
			}
		}
	}
}


.table_main {
	width: 100%;
	border-collapse: collapse;

	th {
		outline: none !important;
		color: #ffffff;
		font-weight: 400;
		text-align: left;
		font-size: 1.1rem;
		padding: 10px 10px;
		line-height: 1.6rem;
		position: relative;
		white-space: nowrap;
		background: rgba(6, 17, 29, 0.3);

		&.tablesorter-header {
			padding-right: 20px !important;

			&:after {
				top: 50%;
				right: 10px;
				width: 5px;
				height: 11px;
				z-index: 20;
				content: '';
				display: block;
				position: absolute;
				margin-top: -6px;
				background: url("../img/sort__base.svg") 50% 0 no-repeat;
			}
		}


		&:first-child {
			padding-left: 0;

			&:before {
				top: 0;
				bottom: 0;
				left: -40px;
				width: 40px;
				content: '';
				display: block;
				position: absolute;
				background: rgba(6, 17, 29, 0.3);
			}
		}

		&:last-child {
			padding-right: 0;

			&:before {
				top: 0;
				bottom: 0;
				right: -40px;
				width: 40px;
				content: '';
				display: block;
				position: absolute;
				background: rgba(6, 17, 29, 0.3);
			}
		}

		&.td_glow {
			width: 100%;
		}
	}

	td {
		width: 25%;
		color: #637b9b;
		outline: none !important;
		white-space: nowrap;
		padding: 10px 10px;
		font-size: 1.3rem;
		line-height: 1.6rem;
		border-bottom: 1px dashed #2b374a;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}

		&.td_glow {
			width: 100%;
		}
	}

	tr {

		&:hover {
			position: relative;
		//	background: rgba(39,61,88,0.3);

			td {
				color: #fff;

				&:first-child {
					//		border-left: 1px dotted #2b4c87;
				}

				&:last-child {
					//		border-right: 1px dotted #2b4c87;
				}
			}
		}
	}

	&__wrap {
		@include flexbox();
		@include align-items(center);

		span {
			display: inline-block;
		}

		i {
			font-size: 0;
			line-height: 0;
			margin-right: 5px;
			display: inline-block;

		}
	}

	@media (min-width: $screen-md-min) {

		&__wrap {

			i {
				&.t_flag {
					margin-right: 20px;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		th {
			padding: 10px 15px;

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}

		td {
			padding: 10px 15px;

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		th {
			padding: 10px 20px;

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}

		td {
			padding: 10px 20px;

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}
	}

	@media (max-width: $screen-xs-max) {
		display: block;

		thead {
			display: none;
		}

		tbody {
			width: 100%;
			display: block;
		}

		tr {
			display: block;
			margin-bottom: 20px;
			border: 2px solid #203a61;
		}

		td {
			width: 100%;
			border-bottom: 1px solid #203a61;
			@include flexbox();
			@include align-items(center);
			@include justify-content(space-between);

			&:last-child {
				border-bottom: none;
			}

			&:before {
				font-weight: 700;
				padding-right: 10px;
				display: inline-block;
				content: attr(data-header);
			}

			> span {
				overflow: hidden;
				text-overflow: ellipsis;
				display: inline-block;
			}

			> div {
				overflow: hidden;
				text-overflow: ellipsis;
				display: inline-block;
			}


			&:first-child {
				padding-left: 10px;
			}

			&:last-child {
				padding-right: 10px;
			}
		}

		&__no_heading {

			td {
				&:before {
					display: none;
				}
			}
		}
	}
}


.tree_table {

	tbody {

		> tr {

			> td {
				position: relative;
				padding-left: 15px !important;
			}

			&.collapsed {

				> td {
					position: relative;
					padding-left: 15px;
				}
			}

			&.expanded {

				> td {
					position: relative;
					padding-left: 15px;
				}
			}
		}
	}

	.expanded td:first-child:before,
	.collapsed td:first-child:before {
		width: 7px;
		height: 5px;
		content: '';
		left: 0;
		top: 50%;
		margin-top: -3px;
		margin-right: 10px;
		position: absolute;
		display: inline-block;
		background: url("../img/table__arrow.svg") 0 0 no-repeat;
	}

	.expanded td:first-child:before {
		@include rotate(180deg);
	}

	tr[data-level="1"] td:first-child {
		padding-left: 40px !important;
	}
	tr[data-level="2"] td:first-child {
		padding-left: 60px !important;
	}
}